<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quick Recipes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB55917324B24B5A00D9D1C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB55918924B24B5B00D9D1C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB55919424B24B5B00D9D1C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
